extends layout

block body
  .container(ng-controller='ChatCtrl')
    .row-fluid
      .col-md-8
        h3 Messages
        .well.message-spot
          p(ng-repeat='message in messages',
            ng-class='message.me',
            class='') {{message.user}}: {{message.text}}      
    .row-fluid
      .col-md-8
        form(ng-submit='changeName()',class='well form-inline', role='form')
          .form-group
            input(ng-model='name',class='form-control input-name', placeholder='Enter a name')
        form(ng-submit='sendMessage()',class='well form-inline', role='form')
          .form-group
            input(ng-model='message', ng-keyup='sendMessage()',class='form-control input-message', placeholder='Text a message and press Enter')

  script(src='js/lib/angular/angular.js')
  script(src='js/app.js')
  script(src='js/controllers.js')
  script(src='js/services.js')