!!!
html(ng-app="chat")
  head
    meta(charset='utf8')
    base(href='/')
    title Angular Express Bootstrap Seed App
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src='/socket.io/socket.io.js')
  body(ng-controller='ChatCtrl')
    block body
