/* app css stylesheet */

.overflowable {
  height: 400px;
}

.input-message, .input-name {
	width: 700px;
}

.well.message-spot{
  margin-bottom: 50px;
  height: 400px;
  overflow: auto;
}

.overflowable p {
  margin: 0;
}